body {


    .header {
        color: $main-color;
        font-size: $main-font-mobile;
        display: flex;
        justify-content: space-between;
        padding: 15px 18px 15px 15px;
        align-items: center;
        font-weight: 600;
        top: -50px;

        a {
            text-decoration: none;
            color: $main-color;
        }

        @media (min-width: $large_desk) {
            padding: 20px 50px 15px 43px;
            top: -80px;
        }

        &.sticky {
            position: fixed;
            animation: slidefromTop .3s forwards;
            width: -webkit-fill-available;
            background-color: $base-bg-white;
            z-index: 111;

            @media (min-width: $large_desk) {
                animation: slidefromTopDesk .3s forwards;
            }
        }

        .header--logo {
            img {
                min-width: 52px;
                min-height: 48px;
            }
        }

        .header--lang {
            position: relative;
            z-index: 0;
            display: none;

            li {
                margin-left: 0;

                a {
                    padding: 9px 8px;
                    margin: 0 2px;
                    color: $main-color-white;

                    &:hover {
                        background: rgba(255, 255, 255, 0.5);
                        color: $main-color;
                        padding: 9px 8px;
                        border-radius: 50%;
                    }
                }

                @media(min-width: $more_than_iphone5) {
                    a {
                        margin: 0 5px;
                    }
                }

                &.header--lang__active {
                    a {
                        background: rgba(255, 255, 255, 0.5);
                        color: $main-color;
                        padding: 9px 8px;
                        border-radius: 50%;
                    }
                }
            }
        }

        .header--logo__nav-active {
            display: none;
            position: relative;
            z-index: 0;
        }

        .header--burger {
            display: flex;
            align-items: center;
            position: relative;
            z-index: 0;

            @media (min-width: $large_desk) {
                display: none;
            }

            a {
                display: inline-block;
                margin-left: 15px;
                min-width: 24px;

                .header--burger__close {
                    display: none;
                }
            }
        }
    }

    .header-padding {
        min-height: 50px;
        display: none;

        @media (min-width: $large_desk) {
            min-height: 85px;
        }

        &.active {
            display: block;
        }
    }

    .header--desk-menu {
        display: none;

        @media (min-width: $large_desk) {
            display: flex;
            left: 50%;
            width: fit-content;
            position: absolute;
            top: 20px;
            transform: translate(-50%);

            ul.header--main-links {
                display: flex;
                align-items: center;

                &>li {
                    cursor: pointer;
                }

                li {
                    a {
                        cursor: pointer;
                    }
                }

                .header--app-status {
                    font-size: $main-font-mobile;
                    font-weight: 600;
                    color: $main-color-orange;
                }

                .header--nav-item {
                    margin: 0 15px;
                    font-weight: 600;
                    font-size: $main-font-mobile;
                    color: $main-color;

                    &.other {
                        border: none;
                        background-color: transparent !important;
                        color: $main-color;
                    }

                    &.without-border-content {
                        margin-left: 80px;
                        margin-right: 20px;
                    }
                }
            }
        }

        .header--main-links {
            position: relative;
            top: 0;
            animation: slidefromTopMenuDeskClose 0.4s forwards;
        }

        &.sticky {
            position: fixed;

            .header--main-links {
                position: relative;
                top: -10px;
                animation: slidefromTopMenuDesk 0.4s forwards;
            }
        }
    }

    .header--dropdown--modile {
        a[aria-expanded="true"] {
            background-color: $base-bg-orange;
            color: $main-color-white;
            border: solid 2px $base-bg-orange;
            border: 1.5px solid transparent;

            &::after {
                background-image: url('./img/arrow_down_white.svg');
                transform: rotate(180deg);
                transition: transform 0.3s;
            }
        }
    }



    .header--dropdown--modile {
        @media (min-width: $large_desk) {
            display: none;
        }
    }

}

@keyframes slidefromTopDropdownMobile {
    from {
        top: 0px;
    }

    to {
        top: 33px;
    }
}

@keyframes slidefromTopDropdown {
    from {
        top: 0;
    }

    to {
        top: 30px;
    }
}

@keyframes slidefromTop {
    from {
        top: -50px;
    }

    to {
        top: 0;
    }
}

@keyframes slidefromTopDesk {
    from {
        top: -80px;
    }

    to {
        top: 0;
    }
}

@keyframes slidefromTopDeskClose {
    from {
        top: 0;
    }

    to {
        top: -80px;
    }
}

@keyframes slidefromTopMenuDeskClose {
    from {

        top: 20px;
    }

    to {
        top: 0px;
    }
}

@keyframes slidefromTopMenuDesk {
    from {
        top: -80px;
    }

    to {
        top: -10px;
    }
}