#contacts-section {
    color: $main-color;
    font-size: 18px;
    font-family: 'Codec Pro';
    line-height: 28px;
    margin-bottom: 70px;
    position: relative;
    .maps-wrapper {
        display: none;
        width: 100%;
        transition: width .3s;
        .toggle-map {
            cursor: pointer;
            content: attr(data-title) " ";
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            z-index: 11;
            height: 319px;
            width: 92px;
            text-align: center;
            background-color: $base-bg-orange;
            display: flex;
            justify-content: center;
            align-items: center;
            color: $main-color-white;
            border-radius: 0 30px 30px 0;
            span {
                font-size: 22px;
                line-height: 34px;
                transform: rotate( -90deg);
                white-space: nowrap;
            }
        }
    }
    @media (min-width: $note_desk) {
        .maps-wrapper {
            display: block;
            border: 0;
            position: absolute;
            right: 0;
            top: 0;
            height: 100%;
            border: 0;
            &.overlay {
                width: 330px;
                transition: width .3s;
                &::after {
                    background: rgba(44, 46, 48, .6);
                    content: "";
                    display: inline-block;
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    left: 0;
                    border-radius: 30px 0 0 30px;
                }
            }
            iframe {
                border-radius: 30px 0 0 30px;
            }
        }
    }
    @media (min-width: $tablet) {
        margin-bottom: 183px;
    }
    .main-title {
        text-align: left;
    }
    .contacts-label {
        font-size: 14px;
        margin-bottom: 10px;
        opacity: .8;
        @media (min-width: $tablet) {
            margin-bottom: 20px;
        }
    }
    .contacts-wrapper {
        margin-bottom: 20px;
        max-width: 710px;
        @media (min-width: $tablet) {
            margin-bottom: 40px;
        }
        .contacts__address {
            &--description {
                font-weight: 300;
            }
        }
        .contacts__email,
        .contacts__phone {
            &__left-col {
                margin-bottom: 60px;
                @media (min-width: $tablet) {
                    margin-bottom: 0;
                }
            }
        }
        .contacts__phone {
            &__left-col {
                margin-bottom: 10px;
            }
        }
        a {
            color: $main-color;
            display: inline-block;
            margin-bottom: 10px;
            @media (min-width: $tablet) {
                margin-bottom: 20px;
            }
            &:last-child {
                margin-bottom: 0;
            }
        }
        @media (min-width: $tablet) {
            .col-2-lg {
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-gap: 144px;
            }
        }
    }
}