@import './uikit.scss';
@import './nice-select.scss';
@import './variables.scss';
@import './normalize.scss';
@import './components/burger.scss';
@import './components/headerdropdowns.scss';
@import './components/header.scss';
@import './components/mobilemenu__open.scss';
@import './components/footer.scss';
@import './homepage/home.scss';
@import './pages/courses.scss';
@import './pages/archive.scss';
@import './pages/registration.scss';

html {
    scroll-behavior: smooth;
}

body {
    z-index: -1;
    position: relative;

    * {
        font-family: 'Montserrat', sans-serif;
        -webkit-font-smoothing: subpixel-antialiased;
        text-rendering: optimizeLegibility;
        -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
        -webkit-tap-highlight-color: transparent;
    }
}

.skip-link {
    position: absolute;
    top: -40px;
    left: 0;
    background: #000000;
    color: white;
    padding: 8px;
    z-index: 100;
}

.skip-link:focus {
    top: 0;
}

.main-button {
    padding: 15px 20px;
    border: 2px solid $secondary-color-violet;
    border-radius: 40px;
    font-size: 14px;
    font-weight: 600;
    line-height: 12px;
    color: $main-color;

    @media (min-width: $more_than_iphone5) {
        padding: 16px 35px;
    }
}

.btn-violet {
    background-color: $base-bg-violet;
    border-color: $main-color-violet;
    color: $main-color-white !important;

    &::after {
        background-image: url('./img/arrow_down_white.svg') !important;
    }

    &[aria-expanded="true"] {
        background-color: $base-bg-white !important;
        border-color: $main-color-violet !important;
        color: $main-color-violet !important;

        &::after {
            background-image: url('./img/arrow_down_violet.svg') !important;
        }
    }
}

.offscreen {
    position: absolute;
    left: -999em;
}

button {
    cursor: pointer;
}

a {
    &:hover {
        text-decoration: none;
    }
}

.title-onlymobile {
    @media (min-width: $note_desk) {
        display: none;
    }
}
@media (min-width: $xl) {
    .uk-container {
        box-sizing: border-box;
        max-width: 994px !important;
        padding: 0!important;
    }
}

.small-description {
    max-width: fit-content;
    background-color: $base-violet-lite-bg;
    border-radius: 3px;
    padding: 3.5px 10px;
    display: flex;
    align-items: center;
    margin-right: 20px;
    line-height: normal;

    span,a {
        font-size: 12px;
        font-weight: bold;
        color: $main-color;
    }
}
.main-title {
    font-size: 32px;
    line-height: 38px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 30px;
    * {
        line-height: 38px;
    }
    @media (min-width: $tablet) {
        font-size: 45px;
        line-height: 50px;
        margin-bottom: 60px;
        * {
            line-height: 38px;
        }
    }
}
input {
    outline: none;
    border: none;
    min-height: 68px;
    border-radius: 50px;    
    border: 2px solid #EFEEEB;
    padding: 0 33px;
    &::placeholder {
        color: $main-color;
        opacity: 0.2;
        font-weight: bold;
        font-size: 14px;
      }
      &+.error {
        color: $main-color-orange;
        font-size: 12px;
        margin-left: 20px;
      }
}