@import './uikit.scss';
@import './nice-select.scss';
@import './variables.scss';
@import './normalize.scss';
@import './components/burger.scss';
@import './components/headerdropdowns.scss';
@import './components/header.scss';
@import './components/mobilemenu__open.scss';
@import './components/footer.scss';
@import './homepage/home.scss';
@import './pages/courses.scss';
html {
    scroll-behavior: smooth;
}

body {
    z-index: -1;
    position: relative;
    * {
        font-family: 'Montserrat', sans-serif;
        -webkit-font-smoothing: subpixel-antialiased;
        text-rendering: optimizeLegibility;
        -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
        -webkit-tap-highlight-color: transparent;
    }
}

.skip-link {
    position: absolute;
    top: -40px;
    left: 0;
    background: #000000;
    color: white;
    padding: 8px;
    z-index: 100;
}

.skip-link:focus {
    top: 0;
}

.main-button {
    padding: 15px 20px;
    border: 2px solid $main-color;
    border-radius: 40px;
    font-size: 14px;
    font-weight: 600;
    line-height: 12px;
    color: $main-color;
    @media (min-width: $more_than_iphone5) {
        padding: 15px 35px;
    }
}

.offscreen {
    position: absolute;
    left: -999em;
}