//colors 
$main-color: #2B2E30;
$main-color-white:#FFFFFF;
$main-color-orange: #FF8110;
//font-size
$main-font-mobile: 14px;
//bg
$base-bg-orange: #FF8110;
$base-bg-white:#FFFFFF;
$secondary-bg-gray: #2B2E30;
//breakpoints
$more_than_iphone5: 375px;
$tablet: 768px;
$note_desk: 992px;
$large_desk: 1199.98px;